html {
    font-size: 16px;
}
* {
    font-size: 1rem;
    font-family: monospace;
}
body {
    margin: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    /* For dark background color- */
    --neutral-black-bg: #000000;
    --gray-background-bg: #141415;
    --primary-black-fade-bg: #1a1a1b;
    --secondary-black-fade-bg: #151515;

    /* For dark text color- */
    --colorful-text: #0c8ae6;
    --primary-dark-text: #141415;
    --secondary-dark-text: #313135;

    /* For light background color- */
    --primary-light-bg: #ffffff;
    --secondary-light-bg: #f7f7f7;

    /* For light text color- */
    --colorful-text: #0c8ae6;
    --primary-light-text: #ffffff;
    --secondary-dark-text: #cacace;
    --light-gray-text: #fafafa;

    --mailto-footer: #47628f;
}

:root {
    scrollbar-color: #1e80ef #fdfdfd !important;
    scrollbar-width: thin !important;
}

button {
    align-items: normal;
    background: none!important;
    background-color: rgba(0,0,0,0);
    /* border: none; */
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: rgb(0, 0, 238);
    cursor: pointer;
    display: inline;
    font: inherit;
    /* font-family: arial, sans-serif; */
    height: auto;
    padding: 0!important;
    perspective-origin: 0 0;
    text-align: start;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

button:hover {
    text-decoration: underline;
}

button:focus span {
    color: black;
}

/* Mozilla uses a pseudo-element to show focus on buttons, */
/* but anchors are highlighted via the focus pseudo-class. */

@supports (-moz-appearance:none) { /* Mozilla-only */
    button::-moz-focus-inner { /* reset any predefined properties */
        border: none;
        padding: 0!important;
    }
    button:focus { /* add outline to focus pseudo-class */
        outline-style: dotted;
        outline-width: 1px;
        color: black;
    }
}

.clignote {
    color: red;
    animation: clignote .8s step-start infinite;
}

@keyframes clignote {
    0%   { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 1; }
}